.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #f0f0f0; /* Un color de fondo suave */
}
.logo {
    height: 50px; /* Ajusta la altura según necesites */
}